.display-card {
    height: fit-content;
    width: 25rem;
    position: relative;
    border: transparent;
    border-radius: 0.5rem;
    margin-top: 10rem;
    margin-left: 8rem;
}
.pdb-1{
    padding-bottom: 1rem;
}
.new-note-container{
    display: flex !important;
}
.btn-transparent {
    background: transparent;
    border: transparent;
    cursor: pointer;
}
.display-card-empty {
    width: 40rem;
    height: 10rem;
}

.btn-pinned {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: default;
}

.btn-archive,
.btn-delete,
.btn-edit {
    color: var(--text-color2);
}

.btn-archive:hover,
.btn-delete:hover {
    color: var(--primary-color);
}

.btn-edit-display-card {
    box-shadow: none;
}

.btn-edit-display-card:hover {
    transform: scale(1);
}

.text-display-card {
    line-height: 1.5rem;
}

.tag {
    background-color: var(--white);
    border: 1px solid var(--footer-background);
    padding: 0.3rem 0.5rem;
}

.priority {
    background-color: var(--white);
    border: 1px solid var(--footer-background);
    padding: 0.3rem 0.5rem;
}

.text-base {
    font-size: 1rem;
}

.pd-1 {
    padding: 1rem;
}

.edit-btn{
    padding: 0.25rem 0.75rem;
    border-radius: 10%;
}

.dateOnCard{
    font-size: 0.8rem;
}