.label-main {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}
.label-main-container{
   display: flex;
}
.label-card-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: -4rem;
}

.btn-label {
  width: 10rem;
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-label:hover,
.selected {
  background-color: var(--primary-dark-color);
  color: var(--text-white);
}

.btn-priority {
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary-color);
}
